body{

    background-color:white;;
}

input[readonly="1"] {
    background:#e0e0e0;
    border:1px solid #b0b0b0;
}
form {
    display: table;

    width: 155%;
    padding: 10px;
    background-color: white;
    
}
form > label, form > input, form > select {
    float:left;
    margin-top: 5px;
    padding-top:4px;
    padding-bottom:4px;
}
form > label {
    clear:both;
    width:15%;
    font-family: 'Open Sans';
    font-weight: bold;
}
form > input[type="submit"] {
    margin-left: 25%;
    clear:both;
}

.textarea{
    margin-left: 25%;
    clear:both;
    margin:  5px 0px 5px 0px;
    padding-top:4px;
    padding-bottom:4px;
}
